h3{
    margin: 40px;
    border: 5px #ffd9ce solid;
    width: 900px;
}

p{
    margin: 20px auto;
    font-size: 1.3em;
    font-weight: 700;
}
input[type="text"]{
    display: block;
    margin-bottom: 10px;
}
input[type="submit"]{
    display: block;
    margin: 10px 0px;
}
table thead tr th{
    background: #fe8737;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 200px;
}

table tbody tr{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
table tbody tr{
    
    background: #ffd9ce;
}
